<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script>
        function checkuname(){
            var ret = false;
            var xhr = createXhr();
            xhr.open('get', '/user/chkname/?uname='+$("#uname").val(), false);
            xhr.onreadystatechange = function (){
                if (xhr.readyState==4 && xhr.status==200){
                    if (xhr.responseText == "1"){
                        ret = true;
                        $("#uname-show").html("username exist")
                    }else {
                        $("#uname-show").html("pass...")
                    }
                }
            }
            xhr.send(null)
            return ret;
        }
        $(function (){
            $("#uname").blur(function (){
                checkuname();
            });
            $("#btnRegister").click(function (){
                if(checkuname()){
                    alert("username exist,can't register")
                }else {
                    var xhr = createXhr();
                    xhr.open('post', '/user/reguser/', true);
                    xhr.onreadystatechange = function (){
                        if (xhr.readyState==4 && xhr.status==200){
                            alert(xhr.responseText);
                        }
                    }
                    xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
                    var uname = $("#uname").val();
                    var upwd = $("#upwd").val();
                    var nickname = $("#nickname").val();
                    var csrf = $("[name='csrfmiddlewaretoken']").val();
                    var params = "uname="+uname+"&upwd="+upwd+"&nickname="+nickname+
                        "&csrfmiddlewaretoken="+csrf;
                    xhr.send(params);
                };
            });
        });

    </script>
</head>
<body>
{% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td>uname</td>
                    <td><input type="text" id="uname"></td>
                    <td><span id="uname-show"></span></td>
                </tr>
                <tr>
                    <td>upwd</td>
                    <td><input type="password" id="upwd" name="upwd"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>nickname</td>
                    <td><input type="text" id="nickname" name="nickname"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id="btnRegister" >register</button></td>

                </tr>
            </tbody>
        </table>

</body>
</html>